


$white:                               hsl(0, 0%, 100%);
$gray-100:                            hsl(210, 17%, 98%);
$gray-200:                            hsl(210, 16%, 93%);
$gray-300:                            hsl(210, 14%, 89%);
$gray-400:                            hsl(210, 14%, 83%);
$gray-500:                            hsl(210, 11%, 71%);
$gray-600:                            hsl(210, 7%, 46%);
$gray-700:                            hsl(210, 9%, 31%);
$gray-800:                            hsl(210, 10%, 23%);
$gray-900:                            hsl(210, 11%, 15%);
$black:                               hsl(0, 0%, 0%);


$top-navbar-background-color: #e61921;
$top-navbar-background-color-second-line: $gray-600;

$top-navbar-font-color:       $white;